header {
  margin: 0 auto;
  width: 70%;
  text-align:center;
}
nav {
  display: block;
  margin: 0 auto;
}
nav a {
  padding: 0px 10px 0px 10px;
  background-color: #fff000;
}

#featured-property {
  display: block;
  margin: 0 auto;
  width: 70%;
  text-align:center;
}

.clearfix {
  clear: both;
}

#details {
  margin: 0 auto;
  text-align:center;
  background-color: red;
}

#details div {
  display: inline-block;
  margin: 0 auto;
  width: 20%;
}
