body {
  padding: 0px;
  margin: 0 auto;
}

header {
  margin: 0 auto;
  width: 70%;
  text-align:center;
}
nav {
  display: block;
  margin: 0 auto;
}
nav a {
  padding: 0px 10px 0px 10px;
  background-color: #fff000;
}

#featured-property {
  display: block;
  margin: 0 auto;
  width: 70%;
  text-align:center;
}

#featured-property figcaption{
  font-size: 12px;
}

.clearfix {
  clear: both;
}

#details {
  margin: 0 auto;
  padding: 0px;
  display: block;
  text-align:center;
  background-color: red;
  border: 1px black solid;
  margin: 0px;
  font-size: 0;
}

#details div {
  display: inline-block;
  width: 25%;
  border: 1px black solid;
  padding: 0px;
  margin: 0px;
  left:0px;
  font-size: 20px;
}
